---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import NovelGenerator from '../components/NovelGenerator'
---

<Layout title="AI">
  <main>
    <Header />
    <NovelGenerator client:load />
  </main>
</Layout>
