---
import Layout from '../layouts/Layout.astro'

// const response = await fetch('http://localhost:3000/api/generate')
// const output = await response.json()
---

<Layout title="AI">
  <main>
    <h1>AI Write</h1>
    <input type="text" id="input">
    <button>Submit</button>
    <p>Here's some AI-generated text:</p>
    <!-- <pre>{ JSON.stringify(output, null, 2) }</pre> -->
    <pre id="result">...</pre>
  </main>
</Layout>

<style>
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
pre {
  word-break: break-all;
  white-space: pre-wrap;
}
</style>

<script>
  const button = document.querySelector('button')

  // const inputString = input!.text
  let story = ''

  console.log(button)
  button!.addEventListener('click', async () => {
    const input = document.getElementById('input') as HTMLInputElement
    const resultDiv = document.getElementById('result') as HTMLParagraphElement
    const inputValue = input.value
    console.log(inputValue)

    resultDiv.innerHTML += inputValue

    const response = await fetch(`http://localhost:3000/api/generate?input=${story + inputValue}`)
    if (!response.ok) {
      throw new Error(response.statusText)
    }
    const data = response.body
    if (!data) {
      throw new Error('No data')
    }
    let thisParagaph = inputValue
    const reader = data.getReader()
    const decoder = new TextDecoder('utf-8')
    let done = false

    while (!done) {
      const { value, done: readerDone } = await reader.read()
      if (value) {
        const text = decoder.decode(value)
        resultDiv.innerHTML += text
        thisParagaph += text
      }
      done = readerDone
    }

    story = resultDiv.innerHTML
    console.log(story)

    const imgRsponse = await fetch(`http://localhost:3000/api/image?input=${thisParagaph}`)
    const imgSrc = await imgRsponse.text()

    const img = document.createElement('img')
    img.src = imgSrc
    img.style.width = '200px'
    document.body.appendChild(img)

  })
</script>
